<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yao.dao.LoginLogMapper">

    <insert id="insertLoginLog" parameterType="LoginLog">
        INSERT INTO loginlog(userid,ip,logindatetime) VALUES(#{userId},#{ip},#{loginDate})
    </insert>

</mapper>