<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias alias="User" type="com.yao.domain.User"/>
        <typeAlias alias="LoginLog" type="com.yao.domain.LoginLog"/>
    </typeAliases>
    <!--<mappers>-->
        <!--<mapper resource="com/yao/maps/UserMapper.xml" />-->
        <!--<mapper resource="com/yao/maps/LoginLogMapper.xml" />-->
    <!--</mappers>-->
</configuration>